

/*MENU DE INICIO*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav{
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: Bell MT;
  padding: 0.5%;
  height: 100px;
  background-color: #242526;
}
/*cabecera*/
nav .logo{
   
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

nav .list{

  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .list li{
  list-style: none;
}

nav .list a{
  display: block;
  text-transform: uppercase;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;


}

nav .list a:hover {
  border-bottom:4px solid #675bf9;

}

#toggle{
  position: absolute;
  top: -100px;
}

nav .icon-bars{
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-bars .line{
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

@media (max-width:768px) {
  nav .logo{
    float:none;
    width: auto;
    justify-content: center;
  } 
  
  nav .list{
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top:100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: all .5s ease-in-out;
  }

  nav .list a{
    font-size: 20px;
  }

  nav :checked ~ .list{
    bottom: 0;
  }

  nav .icon-bars{
    display: block;
  }
}
/*DISEÑO GENERAL*/
@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
.fade-in{
  animation: fadeIn 1s
  ease
}
.imagen {

  background-image: url('C:/wamp64/www/Proyectoint/imagenes/06faf4dfe26484f67ed6bd47e1c2969e.jpg'); 
  
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
 
  font-family:Bell MT; 

}
h1{
  text-align: center;
  font-family: Bell MT;

}
h2 {
  text-align: center;
  font-family: Bell MT;
}
h3 {
  text-align: center;
  font-family:Bell MT;
}
.container img {
  width: 100px; 
  height: auto;
  border-radius: 50%; 
  
}
form {
  width: 300px;
  margin: 0 auto;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;

  box-sizing: border-box;
}
.container {
  text-align: center;
}
.vista {
  background-image: url('C:/wamp64/www/Proyectoint/imagenes/abstract-elegant-white-and-gray-background-abstract-white-pattern-squares-texture-vector.jpg'); 
  
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 

h1{
    text-align: center;
    font-family: Bell MT;
  
  }
h2 {
    text-align: center;
    font-family: Bell MT;
  }


 
}
.container2 img{
 
  height: auto;
  border-radius: 50%; 
  width: 38%;
 margin: 0 auto; 
  display: flex; 
  justify-content: center;
 
 
}